<p id="notice"><%= notice %></p>

<h1>Profile Page</h1>

<%= render partial: "crash_listings", locals: { crashes: @crashes, requested_crashes: @requested_crashes, hostings: @hostings, pending_hostings: @pending_hostings, errors: @errors } %>

<br>
<%= link_to 'New Crash', new_crash_path %>
<br>